#container {
  border: 1px solid black;
  height: 1000px;
  width: 400px;
  margin-left: 73.8%;
}
#div1,
#div2 {
  margin: 25px 50px;
}

#ppn {
  margin-left: 190px;
  margin-top: -45px;
}
#div2 {
  display: flex;
  height: 50px;
}
#tick {
  height: 20px;
  margin-top: 20px;
  margin-left: 10px;
}
#p {
  border: none;
  background-color: ;
  margin: auto;
}

#checkin {
  height: 32px;
  width: 140px;
  font-size: 15px;
}
#checkin:hover {
  border-color: #1e87f0;
}

#checkout {
  height: 32px;
  width: 140px;
  margin-left: 10px;
  font-size: 15px;
}
#checkout:hover {
  border-color: #1e87f0;
}

#div4 {
  border: 1px solid black;
  display: flex;
  margin: 25px 50px;
}
#Select_guests {
  border: none;
  height: 38px;
  width: 330px;
  margin-top: 5px;
  font-size: 15px;
  appearance: none;
  padding-left: 5px;
  margin: auto;
}
#div4:hover {
  border-color: #1e87f0;
}

#diamond {
  height: 20px;
  margin-top: 10px;
  position: absolute;
  margin-left: 270px;
}
#h4 {
  margin: 25px 50px;
  color: #999999;
  font-family: ProximaNova, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 13.125px;
}
#div7 {
  display: flex;
  margin: 25px 50px;
}

#instantBook_btn {
  background-color: #1e87f0;
  border: none;
  /* cursor: pointer; */
  height: 55px;
  width: 302px;
  margin-left: 48px;
  color: white;
}

#icon_alert {
  height: 25px;
  margin-top: 13px;
  margin-left: 10px;
}
#div3 {
  border: ;
  margin-left: 50px;
}
