*{
    margin: 0;
    font-family: "Segoe UI","Arial,sans-serif";
}

#main{

    display: flex;
    width: 100%;
    overflow: hidden;
   
 
}

h1{

    margin-left: 24%;
    margin-top: 70px;
}

h2{

    margin-left: 20%;
    margin-top: 25px;

   

}

#cont > h2 > a{

    margin-bottom: 20px;
}



h3{

    margin-left: 25%;
    margin-top: 8px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


#cont > h2 > a:hover{

    background-color: rgb(71, 0, 50);
    cursor: pointer;
    color: white;
    width: 700px;
  
    padding: 10px;
   
}


#sidebar{

    width: 30%;
    height: 200vh;
    position: fixed;
    background-color: #c7c7c7;
    
}

#cont > h2 > a{

    text-decoration: none;
    color:black;
   

}

#cont{

    margin-top: 100px;
 

}

#logo{

    margin-left: 58%;
    margin-top: -10px;

    
}

#user{

    width: 20%;
}

#logo img{

    width: 35%;
   
}

#contain{

    width: 100%;
    height: 200vh;

    background-color: #262626;
}

#imagehandler{

    margin-top: 10px;
    width: 70%;
    margin-left: 33%;
    display: grid;
    row-gap: 74px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(400px);
     
}

#imagehandler > div > img{

    width: 75%;

}

.fa-solid{

    margin: 20px;
}

#dp{

    height: 50px;
    display: flex;
    justify-content: flex-end;
    
}

#dp > div > img{

    width: 155%;
}

#dp > div {

    border: 1px solid white;
    background-color: #ffffff;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    margin-right: 60px;
    display: flex;
    margin-top: 55px;
    align-items: center;
    justify-content: center;
}