header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    
    background-color: rgb(38 38 38);
    color: rgb(102 102 102);
  }
  header #logo img {
    display: flex;
    width: 180px;
    height: 70px;
    padding-left: 10px;
    padding: 8px;
    margin-top: 14px;
    /* margin-top: -4px; */
  }
  #logo {
    display: flex;
  }
  #admin {
    color: white;
    text-decoration: none;
    text-align: center;
    margin-top: 5px;
    margin-left: 940px;
  }

 

  #ad{


    margin-top: 34px;
    cursor: pointer;
    margin-left: 110px;

  }
  nav {
    display: flex;
    align-content: center;
  }
  header nav ul {
    margin: 0;
    display: block;
    justify-content: space-around;
    list-style: none;
    list-style-position: initial;
    list-style-image: initial;
    list-style-type: none;
    font-weight: bold;
    font-size: 18px;
  }
  .right {
    display: flex;
    position: absolute;
    right: 10px;
    align-content: center;
    top: 20px;
    gap: 10px;
    padding-right: 10px;
    cursor: pointer;
  }
  .sidebaricon {
    margin-top: 1px;
    width: 22px;
    height: 20px;
    cursor: pointer;
  }
  .sidebarmenu {
    text-align: center;
    flex-direction: row;
    height: 600px;
    position: fixed;
    z-index: 11;
    right: 8px;
    /* left:1240px; */
    top: 8px;
    width: 350px;
    margin-top: 50px;
    background-color: rgb(38 38 38);
    display: none;
    /* transform: translateX(360px); */
    transition: transform 250ms ease-in-out;
  }
  #india {
    color: white;
  }
  #allCurr {
    display: none;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    border: 1px solid white;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    cursor: pointer;
    transition: 0.5s;
    color: rgb(34, 124, 209);
    font-size: 14px;
    font-weight: 100;
    margin-top: 20px;
  }
  #sign {
    display: none;
    margin-top: 10px;
    padding-top: 10px;
    border: 1px solid white;
    width: 100px;
    height: 60px;
    background-color: rgb(255, 255, 255);
    padding-right: 10px;
    padding-left: 10px;
    cursor: pointer;
    transition: 0.5s;
    z-index: 100;
    position: relative;
  }
  #sign li {
    margin: 10px;
    font-weight: 100;
    font-size: 14px;
  }
  #sign a {
    text-decoration: none;
  }
  #sign a:hover {
    color: aqua;
  }
  #userimg {
    height: 100%;
    width: 100%;
    margin-top: -5px;
  }