/* * {
  margin: 0px;
  padding: 0px;
} */
body {
  margin: 0px;
  padding: 0px;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

#main-container {
  border: 1px solid grey;
  width: 100%;
  margin: auto;
  height: 525px;
  background-image: url(https://i.ibb.co/ZYB9f87/Pimal2-1-2d5d237dbd32-2.jpg);
  /* background-size: contain; */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* background-size: cover; */
  /* filter: opacity(70%); */
}

#mainheading {
  width: 75%;
  height: 80px;
  margin: auto;
  margin-top: 12%;
  margin-left: 18%;
  line-height: 40px;
  font-weight: 100;
}

.mini-search {
  height: 40px;
}

#h1 {
  font-weight: bold;
  color: white;
}

#span_tag {
  text-decoration: line-through;
}

#searchdiv {
  width: 64%;
  background-color: white;
  margin: auto;
  margin-bottom: 12%;
  margin-top: 15px;
  padding: 10px 0px 10px 0px;
  text-align: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
#searchdiv > :first-child {
  font-size: 30px;
  font-weight: 200;
}
#searchdiv span {
  color: black;
}
#searchdiv > :nth-child(2) {
  font-size: 22.5px;
  color: rgb(59, 59, 59);
  font-weight: lighter;
}
#search_option {
  display: flex;
  align-items: center;
  justify-content: center;
}
#search_option > div {
  display: flex;
  border: 1px solid rgba(209, 202, 202, 0.334);
  align-items: center;
}
#search_option img {
  height: 20px;
  width: 20px;
}
#search_option input {
  border: 0px;
}
#search_option input:focus {
  outline: none;
}
#search_option select:focus {
  outline: none;
}
#search_option button:focus {
  outline: none;
}
#search_option select {
  border: 1px solid rgba(209, 202, 202, 0.334);
}
#search_option button {
  background-color: rgb(30, 135, 240);
  border: 0px;
  color: white;
}
#search_option button:hover {
  background-color: rgb(27, 120, 214);
}
#search_option input,
select,
button {
  width: 170px;
  padding: 5px;
  color: rgb(59, 59, 59);
}

#search-btn {
  height: 40px;
}

#p {
  font-size: 22.5px;
  line-height: 31.5px;
  margin-left: 50px;
  margin-top: 50px;
}

#row3_boxs {
  display: flex;
  height: auto;
  width: 93%;
  margin: auto;
  gap: 3%;
  margin-top: 50px;
}

#community {
  width: 30%;
  /* margin-left: 35px; */
}

#inner_div {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 1px solid white;
}

#inner_div > p {
  text-align: center;
  font-size: 24px;
  padding: 10px;
  color: #333333;
  font-weight: 100;
}

#box_div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.logo_images {
  margin-left: 35%;
  width: 19%;
}

.destiny {
  width: 65%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  margin: auto;
}

/* .boxes > img {
  width: 100%;
  height: 150px;
} */

.dev_center {
  border: 0px solid red;
  position: absolute;
}

.box1 {
  width: 100%;
  height: 150px;
  background-image: url(https://i.ibb.co/HpXBgmc/Untitled-6.jpg);
  background-size: 100% 100%;
  color: white;
  font-weight: 500;
}

.box2 {
  background-image: url(https://i.ibb.co/tJdVRCs/Untitled-13.jpg);
  color: white;
  font-weight: 500;
}
.box3 {
  background-image: url(https://i.ibb.co/82DhbZm/Untitled-5.jpg);
  color: white;
  font-weight: 500;
  /* filter: contrast(75%); */
}
.box4 {
  background-image: url(https://i.ibb.co/56Dm5m6/Untitled-18.jpg);
  color: white;
  font-weight: 500;
}
.box5 {
  background-image: url(https://i.ibb.co/DYPx7hm/Untitled-19.jpg);
  color: white;
  font-weight: 500;
}
.box6 {
  background-image: url(https://i.ibb.co/whd2fcX/Untitled-20.jpg);
  color: white;
  font-weight: 500;
}
.box7 {
  background-image: url(https://i.ibb.co/s9Vwg8T/Untitled-21.jpg);
  color: white;
  font-weight: 500;
}
.box8 {
  width: 100%;
  height: 150px;
  background-image: url(https://d2vcelvjdj7n25.cloudfront.net/media/collection/beautiful-Bali-Gazebo_1.jpg);
  background-size: 100% 100%;
  color: white;
  font-weight: 500;
}

.box1 > .dev_center {
  margin-left: 40px;
  margin-top: 40px;
}

.box2 > .dev_center {
  margin-left: 20px;
  margin-top: 40px;
}

.box3 > .dev_center {
  margin-left: 20px;
  margin-top: 40px;
}

.box4 > .dev_center {
  margin-left: 30px;
  margin-top: 40px;
}

.box5 > .dev_center {
  margin-left: 0px;
  margin-top: 40px;
}

.box6 > .dev_center {
  margin-left: 2px;
  margin-top: 40px;
}

.box7 > .dev_center {
  margin-left: 50px;
  margin-top: 40px;
}

.box8 > .dev_center {
  margin-left: 40px;
  margin-top: 40px;
}

.box1 > .dev_center > p + p {
  margin-left: 20px;
  margin-top: 20px;
  margin-top: -10px;
}

.box2 > .dev_center > p + p {
  margin-left: 50px;
  margin-top: 20px;
  margin-top: -10px;
}
.box3 > .dev_center > p + p {
  margin-left: 50px;
  margin-top: 20px;
  margin-top: -10px;
}
.box4 > .dev_center > p + p {
  margin-left: 50px;
  margin-top: 20px;
  margin-top: -10px;
}
.box5 > .dev_center > p + p {
  margin-left: 75px;
  margin-top: 20px;
  margin-top: -10px;
}
.box6 > .dev_center > p + p {
  margin-left: 75px;
  margin-top: 30px;
  margin-top: -10px;
}

.box7 > .dev_center > p + p {
  margin-left: 20px;
  margin-top: 30px;
  margin-top: -10px;
}

.box8 > .dev_center > p + p {
  margin-left: 10px;
  margin-top: 30px;
  margin-top: -10px;
}

#row4_middle {
  display: flex;
  width: 92.5%;
  height: auto;
  gap: 40px;
  margin: auto;
  margin-top: 60px;
}

.property_logo {
  /* display: flex; */
  width: 50px;
  height: 50px;
  margin-left: 25px;
}

#list1 {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

#list2 {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.property_section {
  width: 600px;
  height: 210px;
  padding: 40px;
  color: rgba(0, 0, 0, 0.756);
  font-weight: 300;

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.property_section > p {
  text-align: center;
  font-size: 22px;
  margin-top: -10px;
}

.p_logo {
  font-size: 14px;
  text-align: center;
}

.btn1 {
  margin-top: 20px;
  width: 300px;
  background-color: #1e87f0;
  border: none;
  padding: 10px;
  color: white;
}

#list1 > div {
  text-align: center;
}

#list2 > div {
  text-align: center;
}

.btn2 {
  width: 200px;
  margin-top: 20px;
  background-color: #1e87f0;
  border: none;
  padding: 10px;
  color: white;
}

#footer_p {
  font-size: 22px;
  margin-left: 57px;
  margin-top: 60px;
  color: #000000;
}
