*{
    margin: 0;
    padding: 0;
    }
    
    #navbar{
        display: flex;
        width: 100%;
        height: 60px;
        background-color: black;
        position: fixed;
    
        }
        #logo{
            padding-left: 10px;
            display: flex;
            margin-top: -4px;
            padding: 8px;
        }
        #logo img{
            width: 100%;
            height: 56px;
        }
    
    #filter{
    height: 64px;
    border-bottom: 1px solid rgb(222, 222, 222);
    background: white;
    width: 55%;
    
    
    
    
    
    }
    
    .app{
    
    padding: 0 15px;
    line-height: 28px;
    font-size: .875rem;
    cursor: pointer;
    margin-left: 20px;
    background-color: transparent;
    color: #333;
    
    border: 1px solid #e5e5e5;
    }
    
    .mod{
    float: right;
    padding: 0 15px;
    line-height: 28px;
    font-size: .875rem;
    cursor: pointer;
    margin-right: 20px;
    background-color: transparent;
    color: #333;
    border: 1px solid #e5e5e5;
    }
    
    button{
    
    font-family: "Segoe UI","Arial,sans-serif";
    margin-top: 15px;
    }
    
    
    
    #main{
    
    display: flex;
    width: 100%;
    
    }
    
    #container{
    
    
    display: grid;
    gap:20px;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(400px);
    width: 55%;
    
    
    
    
    
    
    }
    
    #parent{
    
    
    width: 100%;
    margin-top: 20px;
    margin-top: 30px;
    display: flex;
    
    
    
    }
    
    
    #parent img{
    
    width: 92%;
    height: 92%;
    margin-left: 10px;
    
    
    
    }
    
    #box1{
    
    width: 48%;
    }
    
    #box2{
        display: flex;
    margin-top: 25px;
    width: 52%;
    margin-left: 70px;
    
    }
    
    
    
    .mapouter{
    
    margin-top: -64px;
    width: 45%;
    position: fixed;
     margin-left: 55%;  
    
    
    }
    
    #gmap_canvas{
    
    width:100%;
    height: 650px;
    top:0;
    
    }
    
    .adding{
    
    display: flex;
    background: #fff;
    color: #666;
    box-shadow: 0 5px 15px rgb(0 0 0 / 8%); 
       }   
  