body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
  }



  
  
  header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: rgb(38 38 38);
    color: rgb(102 102 102);
    position: fixed;
    top: 0;
    z-index: 3;
  }
  
  header #logo img {
    display: flex;
    width: 180px;
    height: 56px;
    /* padding-left: 10px; */
    padding: 8px;
    margin-top: 22px;
  }
  
  #logo {
    display: flex;
    margin-bottom: 30px;
  }
  
  #admin {
    color: white;
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
    margin-left: 940px;
  }
  
  
  nav {
    display: flex;
    align-content: center;
  }
  
  header nav ul {
    margin: 0;
    display: block;
    justify-content: space-around;
    list-style: none;
    list-style-position: initial;
    list-style-image: initial;
    list-style-type: none;
    font-weight: bold;
    font-size: 18px;
  }
  
  .right {
    display: flex;
    position: absolute;
    right: 10px;
    align-content: center;
    top: 20px;
    gap: 10px;
    padding-right: 10px;
    cursor: pointer;
  }
  
  .sidebaricon {
    margin-top: 1px;
    width: 22px;
    height: 20px;
    cursor: pointer;
  }
  
  .sidebarmenu {
    text-align: center;
    flex-direction: row;
    height: 600px;
    position: fixed;
    z-index: 11;
    right: 8px;
    /* left:1240px; */
    top: 8px;
    width: 350px;
    margin-top: 51px;
    background-color: rgb(38 38 38);
    display: none;
    /* transform: translateX(360px); */
    transition: transform 250ms ease-in-out;
  
    text-align: center;
    flex-direction: row;
    height: 600px;
    position: fixed;
    z-index: 11;
    right: 8px;
    /* left:1240px; */
    top: 8px;
    width: 350px;
    margin-top: 50px;
    background-color: rgb(38 38 38);
    display: none;
    /* transform: translateX(360px); */
    transition: transform 250ms ease-in-out;
  }
  
  #india {
    color: white;
  }
  
  #allCurr {
    display: none;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    border: 1px solid white;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    cursor: pointer;
    transition: 0.5s;
    color: rgb(34, 124, 209);
    font-size: 14px;
    font-weight: 100;
    margin-top: 20px;
  }
  
  #sign {
    display: none;
    margin-top: 10px;
    padding-top: 10px;
    border: 1px solid white;
    width: 100px;
    height: 60px;
    background-color: rgb(255, 255, 255);
    padding-right: 10px;
    padding-left: 10px;
    cursor: pointer;
    transition: 0.5s;
    z-index: 100;
    position: relative;
  }
  
  #sign li {
    margin: 10px;
    font-weight: 100;
    font-size: 14px;
  }
  
  #sign a {
    text-decoration: none;
  }
  
  #sign a:hover {
    color: aqua;
  }
  
  #userimg {
    height: 30px;
    margin-top: -5px;
  }
  
  #opensidebarmenu:checked ~ .sidebarmenu {
    /* transform: translateX(0px); */
    display: block;
  }
  
  .menu {
    text-align: center;
    list-style-type: none;
    padding: 0px 20px 10px 20px;
    margin: 0px;
  }
  
  .menu ul {
    text-align: justify;
    border-bottom: 1px solid white;
    padding: 10px;
  }
  
  .menu li {
    text-align: center;
    color: white;
    font-size: 13px;
    padding: 5px;
  }
  
  .menu a {
    color: #91917f;
    text-decoration: none;
    text-decoration: uppercase;
  }
  
  .menu a:hover {
    color: #b1b1a1;
    text-decoration: none;
    text-decoration: uppercase;
  }
  
  .spinner {
    height: 3px;
    background: white;
    transition: all 0s;
  }
  
  .spinner.middle,
  .spinner.bottom {
    margin-top: 3px;
  }
  
  #opensidebarmenu:checked ~ .sidebaricon > .spinner.middle {
    opacity: 0;
  }
  
  #opensidebarmenu:checked ~ .sidebaricon > .spinner.top {
    transform: rotate(135deg);
    margin-top: 8px;
  }
  
  #opensidebarmenu:checked ~ .sidebaricon > .spinner.bottom {
    transform: rotate(-135deg);
    margin-top: -9px;
  }
  
  #opensidebarmenu {
    width: 0px;
  }
  
  #sigin {
    display: none;
    width: 65%;
    height: 50%;
    border: 1px solid;
    position: absolute;
    left: 15%;
    background-color: white;
  }
  
  #sigin.flag {
    display: block;
  }
  
  .signup_div {
    display: none;
    width: 50%;
    height: 60%;
    border: 1px solid;
    position: absolute;
    left: 25%;
    background-color: white;
  }
  
  .signup_div.opendiv {
    display: block;
  }
  
  #button {
    margin-top: 40px;
    margin-left: 50%;
  }
  
  hr {
    margin: 30px;
  }
  
  #div {
    width: 40%;
    margin: auto;
  }
  
  #submit {
    background-color: #1e87f0;
    color: white;
    padding: 10px;
    border: none;
  }
  
  #only {
    margin-top: 0px;
    text-decoration: none;
    font-size: 12px;
    color: #459af2;
  }
  
  #cancel {
    padding: 10px;
    border: none;
  }
  
  h1 {
    margin-left: 30px;
  }
  
  #name1 {
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    color: white;
    margin-right: 2rem;
    text-decoration: underline;
  }
  