body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}
#select {
    width: 10%;
    height: 42px;
    opacity: 0.6;
    padding: 4px;
  }
  
  #mobile {
    width: 75%;
    height: 40px;
    padding-left: 15px;
    font-size: 16px;
    opacity: 0.6;
  }
  
  #numberbar {
    margin-bottom: 10px;
    margin-left: 30px;
  }
  
  #submit {
    background-color: #1e87f0;
    color: white;
    padding: 10px;
    border: none;
  
  
  }
  
  #only {
    margin-top: 2px;
    margin-left: 4vw;
    font-size: 12px;
    color: rgb(160, 154, 154);
    margin-bottom: 15px;
  }
  
  #signup {
    margin-left: 30%;
    padding: 12px;
    border: transparent;
  }
  
  #sigin {
    border: transparent;
  }
  
  #button {
    margin-left: 30%;
  }
  
  hr {
    margin: 30px;
    opacity: 0.5;
  }
  
  #div2 {
    width: 600px;
    margin: auto;
    height: 300px;
    padding: 20px 10px;
    border: transparent;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  
  h1 {
    margin-left: 30px;
    font-weight: 100;
    margin-bottom: -20px;
  }
  #mobile1{
    width: 75%;
    height: 40px;
    padding-left: 10px;
    opacity: 0.6;
  }
  
  #submit1{
    width: 78px;
    height: 40px;
    border: transparent;
    color: white;
    background-color: rgb(30,135,240);
  }
  #select1{
    height: 45px;
    opacity: 0.6;
  }