* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

#div {
    width: 40%;
    margin: auto;
    height: 450px;
    padding: 20px 10px;
    border: transparent;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#select {
    width: 10%;
    height: 42px;
    opacity: 0.6;
    padding: 4px;
}

#mobile {
    width: 75%;
    height: 40px;
    padding-left: 15px;
    font-size: 16px;
    opacity: 0.6;
}

#inputtag {
    display: grid;
    width: 84.7%;
    height: 40px;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 30px;
    opacity: 0.6;
}

#name {
    font-size: 16px;
    padding-left: 15px;
}

#lastname {
    font-size: 16px;
    padding-left: 15px;
}

#numberbar {
    margin-bottom: 10px;
    margin-left: 30px;
}

.out {
    display: grid;
    margin-top: 10px;
    width: 81.5%;
    height: 40px;
    margin-top: 18px;
    margin-left: 30px;
    opacity: 0.6;
    padding-left: 15px;
    font-size: 16px;
}

#button {

    margin-left: 30%;
}

#submit {
    background-color:#1e87f0;
    color: white;
    padding: 10px;
    border: none;


}

#only {
    margin-top: 2px;
    margin-left: 4vw;
    font-size: 12px;
    color: rgb(160, 154, 154);
    margin-bottom: 15px;
}

#cancel {

    padding: 10px;
    border: none;
    margin-left: 30%;
}

hr {
    margin: 30px;
    opacity: 0.5;
}

#signhead {
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
}

a {
    text-decoration: none;
}

h1 {
    margin-left: 30px;
    font-weight: 100;
}